h1 {
    color:#025157;
    font-size: 60px;
    letter-spacing: -1px;
}

@media (max-width: 575px) {
    h1 {
        font-size: 34px;
    }
}

main {
    margin-top: 200px;
}

#prueba-gratis {
    font-size: 14px;
}

#img-video {
    width: 50%;
}

#logos {
    margin-top: 100px;
    letter-spacing: 2px;
}

#features-1 {
    margin-top: 150px;
}

#features-2 {
    margin-top: 150px;
}

#features-3 {
    margin-top: 150px;
    margin-bottom: 50px;
}

#features-3 #card3 {
    background-color: #fade82;
}

#features-3 #card4 {
    background-color:#035157;
}

footer {
    background-color: #fffbf7;
}